<h1>Products</h1>
<div *ngFor="let product of Products">
  <a [title]="product.name+' details'" [routerLink]="['/products', product.id]">
    <h3>
      {{product.name}}
    </h3>
  </a>
  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>
  <button (click)="share(product)">
    Share
  </button>
  <app-product-alert
  [product]="product"
  (notify)="onNotify()">

  </app-product-alert>
</div>
